.scorecard_container {
    /**/
    margin-top: "15%";
}

.scorecard_item_container{
    /**/
}

.card__actions {
    display: flex;
    align-items: center;
    // justify-content: space-between;
}    